.list-group-item-chat-list {
  align-items: center!important;
}


.username{
margin-left: 20px;
}

.offline {
    align-content: center;
    border: 2px solid rgb(158, 1, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%; 
   
    background-position: center center;
   
    background-size: cover;
  }

  .online {
      border: 2px solid rgb(57, 255, 57);
      align-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
      background-position: center center;
      background-size: cover;
  }

  .date {
  color: rgb(0, 0, 0);
  overflow: auto;
  }
  .last-message-date {
 text-overflow: ellipsis;   }

  .chat-list-card {
      padding: 0px!important;
      padding-left: 10px !important;
  }
  .username-chat-list {
    border-bottom: 1px solid rgba(211, 212, 210, 0.897);
    margin-left: 8px;
    
  }

  .parent {
    display: flex;
    flex-direction:row;
  }
.row {
    flex-wrap: inherit!important;
}

.material-icons {
    font-size: 40px;
}