
 .navbar{  
    border-bottom: 1px solid  rgba(211, 212, 210, 0.897) !important;
    height: 80px;
    align-items: center!important;
 }
 .header {
    border-bottom: 1px solid  rgba(211, 212, 210, 0.897) !important;

    padding: 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
  .username {
      margin-top: 0 !important;
flex: none!important;  }
  .logout-button {
      margin-right: 10px!important;
  }
.card {
    height: 500px;
    margin: 20px;
}
.card-header {
    height: 70px;
}
.profile-image {
    align-content: center;
    border: 1px solid  rgba(211, 212, 210, 0.897) !important;
   width: 60px;
    height: 60px;
    border-radius: 50%; /*don't forget prefixes*/
   
    background-position: center center;
   align-self: center;
    /* as mentioned by Vad: */
    background-size: cover;
  }

  .user-info {
      padding-left: 30px;
  }